{% extends 'base.html' %}

{% load static %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}

<header>
    <nav class="header-link">
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
    <hr>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>

{% endblock content %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="header-link">
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
        <hr>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html> -->
