{% extends 'base.html' %}

{% load static %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}

<header>
    <nav class="header-link">
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
        <!--<a href="list.html">Main page</a>-->
    </nav>
    <hr>
</header>
<main>
    <h1>{{ recipe_object.title }}</h1>
    <!--<img class="fit-picture"
    src="{{ recipe_object.picture }}"
    alt="tacos on a plate">-->
    <img class="fit-picture"
         src="{{ recipe_object.picture }}">
    <div>4.3 stars</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <table class="row-stripes">
        <thead id="header-labels">
            <tr>
                <th>Amount</th>
                <th>Food item</th>
            </tr>
        </thead>
        <tbody>

            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
                <!-- <td>1 cup</td>
                <td>Green beans</td>
            </tr>
            <tr>
                <td>3 ears</td>
                <td>Fresh corn</td>
            </tr>
            <tr>
                <td>2 cups</td>
                <td>Tomatillo salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Corn tortillas</td>
            </tr>
             <tr>
                <td>0.5 cups</td>
                <td>Cotija cheese</td> -->
        
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    <!-- <ol>
        <li>Blanch the green beans</li>
        <li>Grill the green beans and the ears of corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos veggies, salsa, and cheese</li>
    </ol> -->
</main>


{% endblock content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<body> -->
    <!-- <header>
        <nav class="header-link">
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
            <a href="list.html">Main page</a>
        </nav>
        <hr>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
       # <img class="fit-picture"
        src="{{ recipe_object.picture }}"
        alt="tacos on a plate">-->
        <!-- <img class="fit-picture"
             src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="row-stripes">
            <thead id="header-labels">
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Corn tortillas</td>
                </tr>
                 <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos veggies, salsa, and cheese</li>
        </ol>
    </main> -->
    <!-- <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>  -->
