{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav class="header-link">
        <a href="{% url 'recipe_list' %}">Main Page</a>


        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'user_logout' %}">Logout</a>
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>

        {% endif %}

    </nav>
    <hr>
</header>
<main>
    <h1>Scrumptious Foods</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-cards">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
                <p>{{ recipe.created_on|date:"M j, Y" }}</p>
                <img src="{{ recipe.picture }}">
            <!-- <img class="fit-picture"
                src="{{ recipe_object.picture }}"
                alt="tacos on a plate"> -->
            <div>4.3 stars</div>

        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
{% load static %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>Scrumptious Recipes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
</head>
<body>

    <footer>Made with love by Scrumptious Eats</footer>
    </main>
</body>
</html> -->
